/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.imgcls {
    height: 80px;
    width:80px;
}
.lblFont {
    font-size: 24px
}
.btnFloat {
    float: right;
}
div.userLbl {
    border: solid 1px black;
    margin-top:20px;
    border-radius: 5px;
}
div.PaddDiv {
    padding:10px;
}